### Clothing Config ###
# Format: <type>.<clothing piece> = <price> = <locked by default> = <hide if locked>
#
lockedByDefault=false
hideIfLocked=false

skin.steve=0=false=false

hat.steve=0=false=false
hat.smooth=0=false=false
hat.headband=0=false=false

hair.steve=0=false=false

eyes.steve=0=false=false

mouth.steve=0=false=false

facialHair.steve=0=false=false

shirt.steve=0=false=false
shirt.smooth=0=false=false
shirt.gradient=0=false=false

pants.steve=0=false=false
pants.smooth=0=false=false

boots.steve=0=false=false
boots.smooth=0=false=false
